header {
    width: 100%;
    height: 600px;
    background: linear-gradient(to right, hsla(199, 100%, 50%, 0.363), hsla(194, 100%, 16%, 0.404)), url(../templates/campeon.jpg);
    background-size: fixed;
    background-attachment: fixed;
    position:relative;
  }
  
  nav{
    text-align: right;
    padding: 30px 50px 0 0;
  }
  
  .wave{
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  nav > a{
    color:#000000;
    text-decoration: none;
    margin-right: 10px;
    font-size: 19px;
  }
  
  nav a:hover{
    text-decoration: underline;
  }

  @media only screen and (min-width: 400px) and (max-width: 800px) {
    nav{
      padding: 30px 50px 0 0;
    }
    header {
      width: 100%;
      height: 300px;
      background-size : 100%;


    }
    nav > a{
      margin-right: 10px;
      font-size: 15px;
    }
    
  }
  
  